#If you would like use this file, you should use command "cp env.example .env"
DB_ImageTag=10.9.3
DB_DBName=db_wp
DB_User=wp_user
DB_Password=password1
DB_TCPPORT=4584
WP_ImageTag=php7.4
MyAdm_ImageTag=5.2.0
HAPX_ImageTag=2.7-dev7